<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Navbar Sidebar - Fixed to Left or Right</title>
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/stylesheets/leftbar.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/javascripts/docs.js"></script>

</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-left">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/start">TIBERO </br> Online Judge</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          </br>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">문제 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/makeProblem">문제 만들기</a></li>
              <li><a href="/viewProblem"><strong>문제 보기</strong></a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">대회 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/makeContest">대회 만들기</a></li>
              <li><a href="/viewContest">대회 참가</a></li>
              <li><a href="/myContest">참가한 대회</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">사용자 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">내 정보 보기</a></li>
              <li><a href="#">라이벌</a></li>
              <li><a href="/viewRanking">랭킹</a></li>
            </ul>
          </li>
        </ul>
      </br>
      </div>
    </div>
  </nav>

  <div class="container">

    <div class="jumbotron">
      <h3>
        <%=contestrows[0].TITLE %>
    </h3>
  </br>
    <h5>시작시각: <%= contestrows[0].GO %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 종료시각: <%= contestrows[0].STOP %></h5>
  </br></br>
      <div  class="col-sm-4">
      <table class="table">
         <thead>
          <th><div align="center">참가자</div></th>
          <th><div align="center">맞은 문제 수 / 총 패널티</div></th>
         </thead>
            <% for(var i=0; i< joinerrows.length; i++){ %>
            <tr>
              <td align = "center"><%= joinerrows[i].CONTESTJOINERID %></td>
              <td align = "center"><%= joinerrows[i].PASSCOUNT %> / <%= joinerrows[i].TOTALPENALTY %></td>
            </tr>
            <% } %>
      </table>
  </div>

  <div class="col-sm-8">
  <table class="table">
     <thead>
        <% for(var i=0; i < problemrows.length; i++){ %>
        <th><div align = "center"><a href = "../viewProblem/<%= problemrows[i].PROBLEMID %>"><%= problemrows[i].PROBLEMID %>. <%= problemnamerows[i].PROBLEMNAME %></a></div></th>
        <% } %>
     </thead>
     <tr>
        <% for(var i=0; i< joinerrows.length; i++){ %>
          <tr>
          <% for(var j=0; j< problemrows.length; j++){ %>
            <% if(rows[i * problemrows.length + j].ACCEPT == true){ %>
        <td class="success" align = "center"><%= rows[i * problemrows.length + j].WRONGCOUNT + 1 %> / <%= rows[i * problemrows.length + j].TIMEDIFF %></td>
        <% } else if(rows[i * problemrows.length + j].WRONGCOUNT != 0){ %>
        <td class="danger" align = "center"><%= rows[i * problemrows.length + j].WRONGCOUNT %> / <%= rows[i * problemrows.length + j].TIMEDIFF %></td>
        <% } else{ %>
        <td align = "center">0 / <%= rows[i * problemrows.length + j].TIMEDIFF %></td>
        <% } %>
          <% } %>
        </tr>
        <% } %>
     </tr>
  </table>
  </div>
<% for(var i=0; i< joinerrows.length + 4; i++){ %>
</br>
<% } %>
</div>
  <footer>
    <div align="right">ⓒ 2018-1 Database Project Team Tibero</div>
  </footer>
  </div>

</body>

</html>
