<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Navbar Sidebar - Fixed to Left or Right</title>
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/stylesheets/leftbar.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/javascripts/docs.js"></script>

</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-left">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/start">TIBERO </br> Online Judge</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          </br>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">문제 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/makeProblem">문제 만들기</a></li>
              <li><a href="/viewProblem"><strong>문제 보기</strong></a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">대회 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/makeContest">대회 만들기</a></li>
              <li><a href="/viewContest">대회 참가</a></li>
              <li><a href="/myContest">참가한 대회</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">사용자 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">내 정보 보기</a></li>
              <li><a href="/rival">라이벌</a></li>
              <li><a href="/viewRanking">랭킹</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">

    <div class="jumbotron">
      <h3>
      <%= rows[0].PROBLEMID %>. <%= rows[0].PROBLEMNAME %>
    </h3>
      </br>

      <div class="col-sm-5" id="comment">
        <div style="white-space: pre-line;"><%= rows[0].PROBLEMEXPLAIN %></div>
          </br>
          </br> <strong>예시 입력:</strong> </br>
          <div style="white-space: pre-line;"><%= rows[0].SAMPLEINPUTTEXT %></div>
            </br>
            </br> <strong>예시 출력:</strong> </br>
            <div style="white-space: pre-line;"><%= rows[0].SAMPLEOUTPUTTEXT %></div>
      </div>

      <div class="col-sm-1" id="comment">

      </div>
      <form class="form-horizontal" action="/submit/<%= rows[0].PROBLEMID %>" method="post">
        <div class="form-group">
          <div class="col-sm-6">
            <textarea class="form-control" rows="13" name="code" spellcheck="false" placeholder="여기에 코드를 입력하세요." style="font-family: consolas;"></textarea>
          </div>
        </div>

        <button type="submit" class="btn btn-default pull-right">제출</button>
      </form>
    </div>
    <footer>
      <div align="right">ⓒ 2018-1 Database Project Team Tibero</div>
    </footer>
  </div>
  </div>

</body>

</html>
