<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/images/TOJ.png">
  <title>Tibero Online Judge</title>
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="navbar-fixed-right.min.css">
  <link rel="stylesheet" href="/stylesheets/leftbar.min.css">
  <link rel="stylesheet" href="/stylesheets/docs.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/javascripts/docs.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-left">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/start">TIBERO </br> Online Judge</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          </br>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">문제 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/makeProblem">문제 만들기</a></li>
              <li><a href="/viewProblem">문제 보기</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">대회 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/makeContest">대회 만들기</a></li>
              <li><a href="/viewContest">대회 참가</a></li>
              <li><a href="/myContest">참가한 대회</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">사용자 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">내 정보 보기</a></li>
              <li><a href="/rival"><strong>라이벌</strong></a></li>
              <li><a href="/viewRanking">랭킹</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">

    <div class="jumbotron">
      <h3>
        <div align="center">라이벌</div>
      </h3>
      </br>
      <p>
        <li>맞은 문제수, 맞은 문제들의 목록, 정답률을 종합적으로 고려하여 라이벌을 선정합니다.</li>
      </br><li>라이벌은 Levenshtein Distance Algorithm를 기반으로 계산한 Similarity Ratio를 바탕으로 선정됩니다.</li>
    </br><li>Levenshtein Distance Algorithm의 자세한 설명을 보고 싶으시면 <a href = "https://en.wikipedia.org/wiki/Levenshtein_distance"><strong>여기</strong></a>를 클릭하세요!</li>
      </p>
    </br>
      <table class="table table-hover">
         <thead>
            <th>#</th>
            <th>닉네임</th>
            <th>정답</th>
            <th>제출</th>
            <th>유사도</th>
         </thead>
         <% for(var i =0; i< rows.length; i++){  %>
         <tr>
            <td><%= i + 1 %></td>
            <td><%= rows[i].NAME %></td>
            <td><%= rows[i].PASSPROBLEMCOUNT %></td>
            <td><%= rows[i].SUBMITPROBLEMCOUNT %></td>
            <td><%= rows[i].SIM %> %</td>
         </tr>
         <% } %>
      </table>
    </div>

    <footer>
      <div align="right">ⓒ 2018-1 Database Project Team Tibero</div>
    </footer>

  </div>

</body>

</html>

<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
